<#import "corelayout.ftl.html" as layout>
<html>
<@layout.head "FOAF+SSL Web ID demo repository."> </@layout.head>
<@layout.body>
<h1>Welcome to this demo Web ID repository.</h1>
<p>This is a demo service for hosting Web IDs, to be used with
FOAF+SSL.</p>

<p><b>This is a demo service only.</b> While we will try to make it
as stable as possible, do not use the Web IDs created on this service
for any serious service which would be blocked if you lost this Web ID.</p>

<p>This is developped in the context of the <a
	href="http://www.jisc.ac.uk/whatwedo/programmes/aim/aimsocialnetworking.aspx">JISC
project: Identity & access management using social networking
technologies</a>. Further details can be found on our <a
	href="http://wiki.rcs.manchester.ac.uk/community/FoafSslShib">Wiki</a>.</@layout.body>



</html>